<% layout('/layouts/boilerplate.ejs') -%>
<div>
  <div class="alert alert-danger  d-flex align-items-center justify-content-between" role="alert">
    <p>
      <%= err.message %> <br>
      <a href="/listings">Back to Home</a>
    </p>
   
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
